@use 'scss' as *;

.rating {
  color: $fuchsia;

  &--sm {
    font-size: $font-sm;
  }
  &--md {
    font-size: $font-md;
  }
  &--lg {
    font-size: $font-lg;
  }

  &--rainbow {
    background: linear-gradient(90deg, var(--rainbow-colors));

    background-size: 300% 100%;
    background-position: 0% 50%;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    animation: rainbow-text 6s linear infinite;
  }
}

@keyframes rainbow-text {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
