<app-page-layout [contentMaxSize]="'sm'" [centerVertically]="true" [showHeader]="false">
  <section class="error">
    <app-content-card-layout
      [width]="'sm'"
      [icon]="icon()"
      [emphasizedText]="emphasizedText()"
      [title]="title()"
    >
      <p class="message">{{ message() }}</p>

      @if (showButton()) {
        <app-button
          [type]="'button'"
          [text]="buttonText()"
          [width]="'50%'"
          (action)="handleButtonAction()"
        />
      }
    </app-content-card-layout>
  </section>
</app-page-layout>
