@use 'scss' as *;

:host {
  width: 100%;
  height: 80px;

  .app-header {
    background-color: $fuchsia-color;
    color: $white-color;
    width: 100%;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      max-width: 1280px;
      margin: 0 auto;

      .menu-button,
      .title {
        margin: 0;
        padding: 0 1rem;
      }
    }
  }

  .auto-hide-header {
    transform: translateY(0);
    transition: transform 0.25s ease;
    z-index: 100;

    &.sticky {
      position: fixed;
    }

    &:not(.visible) {
      transform: translateY(-100%);
    }
  }
}
