@use 'scss' as *;

:host {
  width: 100%;
  height: var(--header-height);

  .layout-wrapper {
    width: 100vw;

    &--auto-hide {
      transform: translateY(0);
      transition: transform 0.25s ease;
      z-index: 100;
    }

    &--sticky {
      position: fixed;
    }
  }

  .layout-wrapper:not(.layout-wrapper--visible) {
    transform: translateY(-100%);
  }

  .app-header {
    @extend .theme-transition;

    background-color: var(--primary);
    box-shadow: var(--header-shadow);
    color: $white;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: var(--header-height);
      max-width: 1280px;
      margin: 0 auto;
    }

    &__menu,
    &__title {
      margin: 0;
      padding: 0 1rem;
    }

    &__title {
      text-transform: uppercase;
    }
  }
}
