@use 'scss' as *;
@use 'sass:math';

:host {
  display: block;
  width: 100%;
  height: var(--header-height);

  .layout-wrapper {
    position: fixed;
    top: calc(var(--header-height) * -1);
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 100;

    transition: top 0.25s ease-in-out;
    background-color: var(--primary, #000);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &--visible {
      top: 0;
    }

    .app-header {
      height: 100%;
      display: flex;
      align-items: center;

      &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
      }

      &__brand {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      &__title {
        margin: 0;
        text-transform: uppercase;
        color: $white;
        font-size: $font-lg;
        font-weight: 700;

        @media screen and (min-width: $screen-sm) {
          font-size: $font-xl;
        }
      }

      &__image {
        width: 48px;

        @media screen and (min-width: $screen-sm) {
          width: 64px;
        }
      }
    }
  }
}
