<main class="home-page">
  <div class="home-page__container">
    <header class="header">
      <app-header />
    </header>

    <section class="hero-slider">
      <app-hero-slider [slides]="store.slidesCollection()" [isLoading]="store.slidesAreLoading()" />
    </section>

    <div class="separator">
      <app-horizontal-separator [text]="'separator.already_finished_games' | translate" />
    </div>

    <section class="cards-grid">
      <app-game-cards-grid
        [keepTriggeringLoadMore]="store.haventReachedLastYear()"
        (loadMore)="handleFetchMore()"
      />
    </section>
  </div>
</main>
