@let isMenuOpen = isOpen();

<div #anchor class="menu-anchor">
  <app-burger-button [open]="isMenuOpen" (toggle)="toggleMenu($event)" />

  <div #menu class="menu" [class.menu--open]="isMenuOpen">
    <div class="menu__header"></div>

    <!-- TODO: awaiting for functionality to be ready -->
    <!-- <ul class="menu__list">
      <li class="menu__item" (click)="toggleMenu(false)">
        <button type="button" class="button">
          {{ 'menu.filters' | translate }}
        </button>

        <span aria-hidden="true">
          <i class="icon fa-solid fa-filter fa-lg"></i>
        </span>
      </li>

      <li class="menu__item" (click)="toggleMenu(false)">
        <button type="button" class="button">
          {{ 'menu.about' | translate }}
        </button>

        <span aria-hidden="true">
          <i class="icon fa-solid fa-circle-question fa-lg"></i>
        </span>
      </li>
    </ul>

    <div class="menu__separator">
      <app-horizontal-separator [color]="'white'" />
    </div> -->

    <ul class="menu__list">
      <app-theme-selector-menu-item [isParentMenuOpen]="isMenuOpen" />

      <app-language-selector-menu-item [isParentMenuOpen]="isMenuOpen" />
    </ul>
  </div>
</div>
