@use 'scss' as *;

.burger {
  width: 48px;
  height: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: transparent;
  border: none;
  border-radius: 5rem;

  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;

  .line {
    display: block;
    height: 3px;
    width: 52%;
    background-color: $white-color;
    border-radius: 2px;
    transition:
      transform 0.3s ease,
      opacity 0.2s ease,
      background-color 0.2s ease;
  }

  &:hover {
    background-color: $white-color;

    .line {
      background-color: $fuchsia-color;
    }
  }

  &:focus-visible {
    outline: 2px solid $white-color;
    outline-offset: 2px;
  }

  &--clicked {
    animation: button-pulse--white 300ms ease-out;
  }

  &--is-open {
    .line {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}
