@let cardsLoading = store.cardsAreLoading();
@let moreCardsAvailable = store.haventReachedLastYear();

<ul #grid class="grid">
  @for (card of store.cardsCollection(); track card.id) {
    <li class="grid__item">
      @if (card.type === 'game') {
        <app-game-card [game]="card" [priority]="$index < 10" />
      } @else if (card.type === 'year') {
        <app-year-card
          [year]="card.year"
          [isLoading]="card.year === `${store.nextYearToLoad()}` && cardsLoading"
        />
      }
    </li>
  }

  @if (!moreCardsAvailable) {
    <li class="grid__item">
      <app-text-card [text]="'·'" />
    </li>
  } @else if (cardsLoading) {
    @for (item of placeholders; track $index) {
      <li class="grid__item">
        <app-game-card-placeholder />
      </li>
    }
  } @else {
    <li class="grid__sentinel" viewportEnter (viewportEntered)="onEnterViewport()"></li>
  }
</ul>
