<div class="now-playing__container">
  <div class="now-playing__logo">
    <img src="assets/media/images/logos/now-playing-logo.webp" />

    <div class="title">
      <p>Hogwarts Legacy (PC)</p>
    </div>
  </div>

  <div class="now-playing__game">
    <img src="assets/media/images/covers/coaav6_720p.webp" />
  </div>

  <div class="menu-button">
    <app-burger-button />
  </div>

  <!-- <div class="now-playing__data">
    <p class="logo">Now Playing...</p>
    <p class="title">Hogwarts Legacy</p>
    <p class="platform">PC</p>
  </div> -->
</div>
