@use 'scss' as *;

:host {
  width: 100%;
}

.button {
  cursor: pointer;
  font-size: $font-sm;
  font-weight: 600;
  padding: 0.8rem 1rem;

  background: var(--primary);
  color: $white-pure;

  border: none;
  border-radius: 0.5rem;

  transition:
    transform 0.3s,
    opacity 0.2s,
    background-color 0.2s;

  &:hover:not(:disabled) {
    background-color: var(--primary-hover);
  }

  &:active:not(:disabled) {
    transform: scale(0.92);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    filter: grayscale(1);
  }
}
