@use 'scss' as *;

$container-max-width: $screen-md;

.add-game-page {
  background-color: var(--bg-surface);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.25s;

  @media screen and (min-width: calc($container-max-width + 2rem * 4)) {
    background-color: var(--bg-app);
  }
}

.add-game-card {
  border-radius: 0;
  background-color: var(--bg-surface);
  width: 100%;
  max-width: $container-max-width;
  padding: 2rem;
  text-align: center;

  transition:
    background-color 0.25s,
    box-shadow 0.25s,
    border-radius 0.25s;

  @media screen and (min-width: calc($container-max-width + 2rem * 4)) {
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
  }

  &__icon {
    font-size: $font-2xl;
    color: $fuchsia;
    margin-bottom: 1rem;
  }

  &__title {
    color: var(--text-main);
    font-size: $font-xl;
    margin: 0 0 1.5rem;
  }
}

.add-game-form {
  display: grid;

  grid-template-columns: 1fr;

  @media screen and (min-width: calc($container-max-width + 2rem * 4)) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__submit {
    display: flex;
    justify-content: center;
    grid-column: span 1;
    width: 100%;

    @media screen and (min-width: calc($container-max-width + 2rem * 4)) {
      grid-column: span 2;
      margin-inline: auto;
      max-width: 20rem;
    }
  }
}
