@let emphasized = emphasizedText();
@let cardIcon = icon();
@let cardTitle = title();

<div class="card" [class]="cardWidthClasses()">
  @if (emphasized) {
    <span class="card__emphasized-text">{{ emphasized }}</span>
  } @else if (cardIcon) {
    <i class="card__icon" [class]="cardIcon"></i>
  }

  @if (cardTitle) {
    <!-- TODO: customize to allow different h levels -->
    <h2 class="card__title">{{ cardTitle }}</h2>
  }

  <div class="card__content" [class]="cardContentClasses()">
    <ng-content />
  </div>
</div>
