<div
  #sliderContainer
  class="hero-slider"
  [style.height]="height() + 'px'"
  (mouseenter)="isHovered.set(true)"
  (mouseleave)="isHovered.set(false)"
  appSwipe
  (swipeLeft)="next()"
  (swipeRight)="prev()"
>
  <div class="hero-slider__stack">
    @for (slide of slides(); track $index) {
      <div class="hero-slider__slide" [class.is-active]="$index === currentIndex()">
        <img
          #heroImage
          [ngSrc]="slide.imageUrl"
          fill
          [priority]="$index === 0"
          [placeholder]="slide.imagePlaceholderUrl"
          alt="Cover image of {{ slide.bottomLeftText }}"
          class="hero-slider__image"
          draggable="false"
        />

        <div class="overlay__top">
          @if (slide.topLeftText) {
            <div class="overlay__top--left">{{ slide.topLeftText }}</div>
          }

          @if (slide.topRightText) {
            <div class="overlay__top--right">{{ slide.topRightText }}</div>
          }
        </div>

        <div class="overlay__bottom">
          @if (slide.bottomLeftText) {
            <div class="overlay__bottom--left">{{ slide.bottomLeftText }}</div>
          }

          @if (slide.bottomRightText) {
            <div class="overlay__bottom--right">{{ slide.bottomRightText }}</div>
          }
        </div>
      </div>
    }
  </div>

  @if (slides().length > 1 && !isLoading()) {
    <button class="nav prev" [class.nav--clicked]="isPrevClicked()" (click)="prev()">
      <svg class="nav__icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 10l7-7m0 0l7 7m-7-7v18"
        />
      </svg>
    </button>

    <button class="nav next" [class.nav--clicked]="isNextClicked()" (click)="next()">
      <svg class="nav__icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 10l7-7m0 0l7 7m-7-7v18"
        />
      </svg>
    </button>

    <div class="dots">
      @for (slide of slides(); track $index) {
        <button (click)="goTo($index)" [class.active]="$index === currentIndex()"></button>
      }
    </div>
  }

  <div class="image-loader" [class.is-hidden]="!isLoading()"></div>
</div>
