@use 'scss' as *;

.card {
  position: relative;
  aspect-ratio: $card-slim-aspect-ration;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $fuchsia-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  padding: 1rem;
  box-sizing: border-box;

  .text {
    font-size: 7rem;
    font-weight: 600;
    color: $white-color;
    line-height: 0.85;
  }

  @media screen and (min-width: 464px) {
    flex-direction: column;
    aspect-ratio: $card-aspect-ratio;

    .text {
      word-break: break-word;
      max-width: 160px;
      text-align: center;
    }
  }
}
