@use 'scss' as *;

@mixin menu-item-base($bg-hover: rgba(255, 255, 255, 0.15)) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem 1.65rem 0.75rem 1rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $bg-hover;
  }
}

.menu-item {
  @include menu-item-base;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &__trigger {
    padding: 0;
    box-sizing: border-box;
    text-align: center;

    background-color: transparent;
    border: none;
    color: inherit;

    font-size: $font-md;
    cursor: inherit;
  }

  &__panel {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 220ms ease;
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent),
      linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  }

  &__panel--open {
    grid-template-rows: 1fr;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.menu-sublist {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 0;

  &__item {
    @include menu-item-base;

    &--active {
      .menu-sublist__status-icon {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__button {
    width: 100%;
    padding: 0.75rem 1.65rem 0.75rem 1rem;
    padding: 0;
    background: transparent;
    border: none;
    text-align: right;
    color: white;
    cursor: inherit;
  }

  &__status-icon {
    width: 25px;
    flex: 0 0 25px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0.5);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }
}
