@let fieldId = id();
@let fieldLabel = label() | translate;
@let fieldType = type();

<app-form-field-layout
  [field]="field()"
  [label]="fieldLabel"
  [id]="fieldId"
  [displayAsterisk]="displayAsterisk()"
  [displayErrors]="displayErrors()"
>
  @if (isSelect()) {
    <select
      [id]="fieldId"
      class="form-field__input form-field__input--select"
      [formField]="field"
      [attr.aria-label]="fieldLabel"
    >
      @for (option of options(); track option.value) {
        <option [value]="option.value">{{ option.label | translate }}</option>
      }
    </select>
  } @else {
    <input
      [id]="fieldId"
      [type]="fieldType"
      class="form-field__input"
      [class.form-field__input--number]="fieldType === 'number'"
      [class.form-field__input--date]="fieldType === 'date'"
      [formField]="field"
      [attr.aria-label]="fieldLabel"
    />
  }
</app-form-field-layout>
