@if (game(); as game) {
  <div class="game-card" [class.game-card--rainbow]="game.rating === 5">
    <img
      class="game-card__image"
      [ngSrc]="game.coverUrl"
      fill
      [priority]="priority()"
      [placeholder]="game.coverPlaceholderUrl"
      alt="Cover image of {{ game.title }}"
      (error)="handleImageError($event)"
    />

    <div class="game-card__info">
      <span class="platform">{{ game.platform }}</span>
      <span class="title">{{ game.title }}</span>
      <app-rating [rating]="game.rating" [size]="'large'" />
    </div>
  </div>
}
