@let featured = isFeatured();
@let title = computedTitle() | translate;

<app-page-layout [contentMaxSize]="'md'">
  <section class="manage-game">
    <app-content-card-layout
      [width]="'md'"
      icon="fa-solid fa-circle-plus"
      [title]="title"
      [titleLevel]="'h1'"
    >
      <form class="form" (submit)="submit($event)">
        <div class="form__group">
          <app-form-field
            type="text"
            id="title"
            [label]="'common.title'"
            [field]="form.title()"
            [displayErrors]="false"
          />

          <app-form-field
            type="text"
            id="platform"
            [label]="'common.platform'"
            [field]="form.platform()"
            [displayErrors]="false"
          />

          <app-form-field
            type="date"
            id="date"
            [label]="'common.finished_date'"
            [field]="form.date()"
            [displayErrors]="false"
          />

          <app-form-field
            type="select"
            id="rating"
            [label]="'common.rating'"
            [field]="form.rating()"
            [options]="ratingOptions"
            [displayErrors]="false"
          />

          <app-form-field
            type="select"
            id="status"
            [label]="'common.status'"
            [field]="form.status()"
            [options]="statusOptions"
            [displayErrors]="false"
          />
        </div>

        <div class="form__group">
          <app-form-field type="text" id="id" [label]="'common.id'" [field]="form.id()" />

          <app-image-form-field
            [id]="featured ? 'image' : 'cover'"
            [label]="featured ? 'common.image' : 'common.cover'"
            [field]="form.image()"
            [selectText]="
              featured ? 'pages.admin.manage_game.select_image' : 'pages.admin.manage_game.select_cover'
            "
            [changeText]="
              featured ? 'pages.admin.manage_game.change_image' : 'pages.admin.manage_game.change_cover'
            "
          />
        </div>

        <div class="form__submit">
          <app-button [type]="'submit'" [disabled]="form().invalid()">
            {{ 'pages.admin.manage_game.save' | translate }}
          </app-button>
        </div>
      </form>
    </app-content-card-layout>
  </section>
</app-page-layout>
