<div #grid class="grid">
  @for (card of store.cardsCollection(); track card.id; let index = $index; let last = $last) {
    <li class="grid__item">
      @if (isGameCard(card)) {
        @if (last) {
          <app-game-card
            [game]="card"
            [priority]="index === 1"
            viewportEnter
            (viewPortEntered)="onEnterViewport()"
          />
        } @else {
          <app-game-card [game]="card" [priority]="index === 1" />
        }
      } @else if (isYearCard(card)) {
        <app-year-card [year]="card.year" />
      }
    </li>
  }

  <li class="grid__item">
    @if (keepTriggeringLoadMore()) {
      <app-year-card [year]="store.nextYearToLoad()" [isLoading]="store.cardsAreLoading()" />
    } @else {
      <app-text-card [text]="'·'" />
    }
  </li>

  @if (store.cardsAreLoading()) {
    @for (item of [].constructor(19); track $index) {
      <li class="grid__item">
        <app-game-card-placeholder />
      </li>
    }
  }
</div>
