<ul #grid class="grid">
  @for (card of store.cardsCollection(); track card.id; let index = $index; let last = $last) {
    <li class="grid__item">
      @if (isGameCard(card)) {
        <app-game-card
          [game]="card"
          [priority]="index < 10"
          [viewportEnter]="last"
          (viewPortEntered)="onEnterViewport()"
        />
      } @else if (isYearCard(card)) {
        <app-year-card
          [year]="card.year"
          [isLoading]="card.year === `${store.nextYearToLoad()}` && store.cardsAreLoading()"
        />
      }
    </li>
  }

  @if (store.cardsAreLoading() && keepTriggeringLoadMore()) {
    @for (item of [].constructor(19); track $index) {
      <li class="grid__item">
        <app-game-card-placeholder />
      </li>
    }
  } @else if (!keepTriggeringLoadMore()) {
    <li class="grid__item">
      <app-text-card [text]="'·'" />
    </li>
  }
</ul>
