@use 'scss' as *;

.home-page {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards-grid,
    .now-playing,
    .separator,
    .hero-slider,
    .header {
      width: 100%;
      box-sizing: border-box;
    }

    .header {
      padding-bottom: 0.75rem;
    }

    .cards-grid,
    .now-playing,
    .separator,
    .hero-slider {
      max-width: 1280px;
      padding: 0.75rem 1rem;
    }
  }
}
