@font-face {
  font-family: 'Google Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;600;700&display=swap')
    format('truetype');
  font-optical-sizing: auto;
  font-weight: 400 700;
  font-style: normal;
  font-variation-settings: 'GRAD' 0;
}
