// Aspect ratios
$card-slim-aspect-ration: 2.5; // 250 /100;
$card-aspect-ratio: 0.75; // 75 / 100;

// Colors
$black-color: #000;
$fuchsia-color: #fa3296;
$golden-color: #ffd700;
$yellow-color: #ffc50a;
$white-pure-color: #fff;
$white-color: #f9f9f9;

// Borders
$card-border-radius: 0.75rem;

// Font sizes
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;

// Screen breakpoints
$screen-sm: 464px;
$screen-md: 768px;

// Shadows
$card-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
