// Colors
$black-color: #000;
$fuchsia-color: #fa3296;
$white-color: #f9f9f9;
$white-pure-color: #fff;

// Font sizes
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;

// Shadows
$card-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
