// Aspect ratios
$card-slim-aspect-ratio: 2.5; // 250 /100;
$card-aspect-ratio: 0.75; // 75 / 100;

// Colors
$black: #000;
$fuchsia: #fa3296;
$fuchsia-dark: #d0287d;
$golden: #ffd700;
$yellow: #ffc50a;
$white-pure: #fff;
$white: #f9f9f9;

// Borders
$card-border-radius: 1rem;

// Font sizes
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;

// Screen breakpoints
$screen-sm: 464px;
$screen-md: 768px;
