@use 'scss' as *;

.menu-anchor {
  position: relative;
}

.menu {
  pointer-events: none;
  position: absolute;
  top: -16px;
  right: -16px;

  width: 100vw;
  max-height: 100vh;

  color: $white-color;
  border-radius: 0 0 $card-border-radius $card-border-radius;

  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);

  overflow-y: auto;

  opacity: 0;
  transform: scale(0.9);

  transform-origin: top;

  transition:
    opacity 160ms ease,
    transform 160ms ease,
    width 160ms ease;

  z-index: 1000;

  @media screen and (min-width: $screen-sm) {
    width: 220px;
    transform-origin: top right;
  }

  &__list,
  &__separator {
    background-color: $fuchsia-color;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
    pointer-events: none;
  }

  &--open {
    opacity: 1;
    transform: scale(1);

    ul {
      pointer-events: all;
    }
  }

  .button {
    width: 100%;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    text-align: center;

    background-color: transparent;
    border: none;
    color: inherit;

    font-size: $font-md;
    cursor: pointer;

    @media screen and (min-width: $screen-sm) {
      text-align: left;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &__header {
    background-color: transparent;
    border-bottom: 1px solid $white-color;
    height: 80px;
    pointer-events: none;
    transition: border-bottom-color 160ms ease;
  }

  &__separator {
    padding: 0 0.75rem;
  }

  .language {
    &__selector {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.75rem 1rem;

      @media screen and (min-width: $screen-sm) {
        justify-content: flex-start;
      }
    }

    &__item {
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 1rem;
      height: 2rem;
      width: 2rem;
      padding: 0;

      color: $white-color;
      font-size: $font-md;
      text-transform: uppercase;

      transition:
        background-color 350ms ease-in,
        color 350ms ease-in;

      &:hover:not(&--active) {
        background-color: rgba(255, 255, 255, 0.15);
      }

      &--active {
        cursor: default;
        pointer-events: none;
        background-color: $white-color;
        color: $fuchsia-color;
        transition: none;
      }
    }
  }
}
